.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* --------- custom css setting ------------- */

.full-app-height {
  height: 100vh
}

.full-height {
  height: 100%
}

.percent-80-height {
  height: 80%
}

.percent-75-height {
  height: 75%
}

.percent-70-height {
  height: 70%
}

.percent-50-height {
  height: 50%
}

.percent-30-height{
  height: 30%
}

.percent-25-height{
  height: 25%
}

.percent-20-height{
  height: 20%
}